<div *ngIf="listaprocesos == true && updateprocess == false">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="height: 100%">
                <div class="card-header">
                    <h4 class="text-center">Procesos registrados</h4>
                </div>
                <div class="card-body">
                    <table class="table" style="width: 100%">
                        <thead>
                            <tr>
                                <th>Nombre del procesos</th>
                                <th>Fecha de creación</th>
                                <th>Configurar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <pre>{{process | json}}</pre> -->
                            <tr *ngFor="let item of process; let id = index">
                                <td>
                                    <span tooltip="Cambiar nombre" placement="top" show-delay="500">
                                        <i class="material-icons cursor"
                                            (click)="viewupdateProcess(item.process.process,id)">update</i>
                                    </span>
                                    {{ item.process.process }}
                                </td>
                                <td>{{ item.process.createdAt }}</td>
                                <td>
                                    <span tooltip="Configurar proceso" placement="top" show-delay="500">
                                        <i class="material-icons cursor"
                                            (click)="ConfigProcess(item.process._id)">settings</i>
                                    </span>
                                    <span tooltip="Verificar Proceso" placement="top" show-delay="500">
                                        <i class="material-icons cursor ml-2"
                                            (click)="Deploy(item.process._id)">radio_button_checked</i>
                                    </span>

                                </td>
                                <td>
                                    <span tooltip="Eliminar proceso" placement="bottom" show-delay="500">
                                        <i class="material-icons cursor"
                                            (click)="deleteProcess(item.process._id, id)">delete</i>
                                    </span>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-2">
            <button type="button" class="btn btn-secondary" (click)="viewProcess()">Añadir proceso</button>
        </div>
    </div>
</div>
<div *ngIf="listaprocesos == false">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <i class="material-icons cursor m-2" (click)="volver()">backspace</i>
                <div class="col-11">
                    <h4 class="text-center">Creando Proceso</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form action="" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Nombre del proceso: </span>
                        </div>
                        <input class="form-control" id="nomProcessCreate" type="text" name="nomProcessCreate"
                            [(ngModel)]="nomProcessCreate">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descripción del proceso: </span>
                        </div>
                        <textarea class="form-control" id="desProcessCreate" rows="2" name="desProcessCreate"
                            [(ngModel)]="desProcessCreate"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col mt-2">
            <button type="button" class="btn btn-secondary" (click)="CreateProcess()">Crear proceso</button>
        </div>
    </div>
</div>
<div *ngIf="updateprocess">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <i class="material-icons cursor m-2" (click)="volver()">backspace</i>
                <div class="col-11">
                    <h4 class="text-center">Actualizando el proceso {{nomProcessCreate}}</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form action="" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Nombre del proceso: </span>
                        </div>
                        <input class="form-control" id="nomProcessCreate" type="text" name="nomProcessCreate"
                            [(ngModel)]="nomProcessCreate">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descripción del proceso: </span>
                        </div>
                        <textarea class="form-control" id="desProcessCreate" rows="2" name="desProcessCreate"
                            [(ngModel)]="desProcessCreate"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col mt-2">
            <button type="button" class="btn btn-secondary" (click)="updateProcess()">Actualizar proceso</button>
        </div>
    </div>
</div>