<div class="card">
  <div class="card-header">Actualización de Objeto de Régimen Especial
    <div class="text-right pointer" (click)="volver()">
      <i class="icons font-2xl cui-action-undo"></i>
      <div>Volver</div>
    </div>
  </div>
  <div class="card-body" *ngIf="updateObject">
    <form action="" method="post">
      <!-- Topics -->
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Modelo: </span>
          </div>
          <input class="form-control" id="url" type="text" name="url" disabled="disabled"
            [value]="updateObject.objSpecialRegime.model">
          <div class="input-group-append">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Objetos</span>
          </div>
          <input class="form-control" id="url" type="text" name="url" disabled="disabled"
            [value]="updateObject.objSpecialRegime.object">
          <div class="input-group-append">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">url</span>
          </div>
          <input class="form-control" id="url" type="text" name="url" disabled="disabled"
            [value]="updateObject.objSpecialRegime.wsurl">
          <div class="input-group-append">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Fecha de Inicio</span>
              </div>
              <input [value]="fechaInicio" [(ngModel)]="fechaInicio" class="form-control" id="fechaInicio" type="date"
                name="fechaInicio">
            </div>
          </div>
          <div class="col-sm">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Fecha de Final</span>
              </div>
              <input [value]="fechaFinal" [(ngModel)]="fechaFinal" class="form-control" id="fechaFinal" type="date"
                name="fechaFinal">
            </div>
          </div>
        </div>
      </div>
      
      <!-- {{formcategories | json}} -->
      <div>
        <div class="row">
          <div class="col-11">
            <div class="input-group-text">Categoria</div>
          </div>
          <div class="col-1">
            <button class="btn btn-primary fixed_button" type="submit" (click)="createCategory()">+</button>
          </div>
        </div>
      </div>
      <br>
      <div class="col-10 offset-1" id="Nodo">
        <div id="child" *ngFor="let cat of formcategories; let count = index">
          <div id="child{{count}}">
            <div class="card p-3">
              <div class="form-group">
                <div class="row">
                  <div class="col-11">
                    <div class="input-group-text">Categoria {{count+1}}</div>
                  </div>
                  <div class="col-1">
                    <button class="btn btn-danger" type="submit" (click)="deleteCategory(count)">-</button>
                  </div>
                </div>
                <br>
                <div class="input-group" *ngIf="camposFeature">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Campo</span>
                  </div>
                  <select class="form-control" id="campo{{count}}" name="campo{{count}}"
                    [(ngModel)]="cat.category.field">
                    <!-- <option value="0">Por favor seleccione el campo</option> -->
                    <option *ngFor="let item of camposFeature.features[0].properties | keyvalue" name="item.key"
                      [ngValue]="item.key">
                      {{item.key}}
                    </option>
                  </select>
                </div>
                <br>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Valor</span>
                  </div>
                  <input class="form-control" id="valor{{count}}" type="text" name="valor{{count}}"
                    [(ngModel)]="cat.category.value">
                </div>
                <br>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Url más info</span>
                  </div>
                  <input class="form-control" id="urlInfo{{count}}" type="url" name="urlInfo{{count}}"
                    [(ngModel)]="cat.category.urlMasInfo">
                </div>
                <br>
                <span class="input-group-text">Descripción</span>
                <div class="">
                  <textarea class="form-control" id="textarea-input{{count}}" name="textarea-input{{count}}" rows="2"
                    placeholder="Contendido de la descripción..." [(ngModel)]="cat.category.description"></textarea>
                </div>
                <br>
                <span class="input-group-text">Afectaciones</span>
                <div class="form-group">
                  <div class="col-form-label row offset-1">
                    <div class="form-check checkbox col-3" *ngFor="let item of cat.restrictions; let i = index">
                      <input name="restriccion{{count}}{{i}}" class="form-check-input" id="check{{count}}{{i}}"
                        type="checkbox" [(ngModel)]="item.status">
                      <label class="form-check-label" for="check{{count}}{{i}}">{{item.restriction.name}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group form-actions">
        <div class="text-center col-12">
          <button class="btn btn-primary" type="submit" (click)="actualizarObjeto()">Actualizar Objeto</button>
        </div>
      </div>
    </form>
  </div>
</div>