.card {
    padding: auto;
    margin: auto;
    text-align: center;
  }
  
.mostrarRoles {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}
.select {
  background-color: black;
  border-radius: 100%;
}
.noselect {
  background-color: white;
  border-radius: 100%;
}
