<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Inicio</a>
    <a routerLink="/consultas" class="nav-item nav-link">Consulta</a>
    <a href="http://192.168.98.69:8081/bonita/" class="nav-item nav-link"  target="_blank">Tramites</a>
  </div>
</nav>
<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<footer class="text-center">
  <p>
    Agencia de Implementación - BSF Swissphoto - INCIGE
  </p>
</footer>
