<div class="container-fluid">
  <header>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <!-- Brand/logo -->
      <img class="logoTemplate" src="assets/img/brand/logo.png" alt="logo">
    </nav>
  </header>
  <div class="row">
    <div class="col-2">
      <app-sidebar-left></app-sidebar-left>
    </div>
    <div class="col-10">
      <main class="page-content">
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>
      </main>
    </div>
  </div>
  <footer>
    <div class="card-footer text-muted">
      Proyecto
      Modernización de la administración de tierras en Colombia
    </div>
  </footer>
</div>