<div class="page-wrapper chiller-theme toggled">
  <nav class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a class="nav-link">
          <i class="material-icons mr-2">home</i>Inicio</a>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li class="header-menu">
            <span>Consultas</span>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="material-icons">
                search
              </i> Consulta General
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="material-icons">
                query_builder
              </i>Consulta Institucional
            </a>
          </li>
          <li class="header-menu">
            <span>Trámites</span>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="material-icons">
                forum
              </i>Solicitud Trámites
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="material-icons">
                note
              </i>Gestión Trámites
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="material-icons">
                post_add
              </i>Registro de Objeto de régimen especial
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="material-icons">
                add_box
              </i>Generador de procesos
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
    </div>
  </nav>
</div>