<aside class="sidebar shadow-sm">

    <div class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
        <div class="picture-wrapper mb-4">
            <div class="user-picture m-auto">
                <img src="./assets/img/user.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="profile-details text-center pb-4">
            <p class="mb-0 text-uppercase name">Admin</p>
            <small class="text-uppercase role">Administrador</small>
        </div>
    </div>
    <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
        <input type="search" class="form-control rounded-pill" name="search" placeholder="buscar ...">
    </div>
    <nav class="sidebar-menu pt-3 pb-3">
        <div class="menu-header mt-3 mb-2">
            Consultas
        </div>
        <ul class="menu-items">
            <li>
                <a href="#" [routerLink]="['/consultas/general']" routerLinkActive="active">
                    <i class="fa fa-search"></i>
                    <span>Consulta General</span>
                    <!-- <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span> -->
                </a>
            </li>
            <li>
                <a href="#" [routerLink]="['/consultas/institucional']" routerLinkActive="active">
                    <i class="fas fa-search-location"></i>
                    <span>Consulta Institucional</span>
                </a>
            </li>
        </ul>
        <div class="menu-header mt-3 mb-2">
            Trámites
        </div>
        <ul class="menu-items">
            <li>
                <a href="#" routerLink="/Ruta" routerLinkActive="active">
                    <i class="fa fa-tv"></i>
                    <span>Solicitud trámite</span>
                    <!-- <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span> -->
                </a>
            </li>
            <li>
                <a href="#" [routerLink]="['/tramites/registro-especial']" routerLinkActive="active"
                    style="line-height: 23px;">
                    <i class="fas fa-archive"></i>
                    <span>Registro de Objeto de Régimen Especial</span>
                </a>
            </li>
        </ul>
        <div class="menu-header mt-3 mb-2">
            Administrador
        </div>
        <ul class="menu-items">
            <li class="mt-2">
                <a href="#" [routerLink]="['/gestor-procesos/procesos']" routerLinkActive="active"
                    style="line-height: 23px;">
                    <i class="fas fa-address-book"></i>
                    <span>Generador de procesos</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>