<aside class="sidebar shadow-sm">

    <div *ngIf="rol" class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
        <div class="picture-wrapper mb-4">
            <div class="user-picture m-auto">
                <img src="./assets/img/user.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="profile-details text-center pb-4">
            <p class="mb-0 text-uppercase name">{{rol.firstName}} {{rol.lastName}}</p>
            <small class="text-uppercase role">{{rol.roles[0].role}}</small>
        </div>
        <button type="button" class="btn btn-secondary btn-sm btn-block" (click)="logout()">Cerrar
            sesión</button>
    </div>
    <div *ngIf="!rol" class="sidebar-profile d-flex flex-column justify-content-center pt-5 pb-3">
        <div class="profile-details text-center pb-4">
            <small class="text-uppercase role">No haz iniciado sesión</small>
        </div>
        <button type="button" class="btn btn-secondary btn-sm btn-block" [routerLink]="['/autenticacion/login']">Iniciar
            sesión</button>
    </div>
    <div class="sidebar-search pt-1 pb-1 pl-3 pr-3">
        <input type="search" class="form-control rounded-pill" name="search" placeholder="buscar ...">
    </div>
    <nav class="sidebar-menu pt-3 pb-3">
        <div class="menu-header mt-3 mb-2">
            Inicio
        </div>
        <ul class="menu-items">
            <li>
                <a href="#" [routerLink]="['/inicio']">
                    <i class="fa fa-info"></i>
                    <span>Pagina principal</span>
                    <!-- <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span> -->
                </a>
            </li>
        </ul>
        <div class="menu-header mt-3 mb-2">
            Consultas
        </div>
        <ul class="menu-items">
            <li>
                <a href="#" [routerLink]="['/consultas/general']">
                    <i class="fa fa-search"></i>
                    <span>Consulta General</span>
                    <!-- <span class="badge badge-warning rounded-0 text-dark p-1">NEW</span> -->
                </a>
            </li>
            <li *ngIf="mostrarEntidad">
                <a href="#" [routerLink]="['/consultas/institucional']">
                    <i class="fas fa-search-location"></i>
                    <span>Consulta Institucional</span>
                </a>
            </li>
        </ul>
        <div *ngIf="mostrarTramites" class="menu-header mt-3 mb-2">
            Trámites
        </div>
        <ul *ngIf="mostrarTramites" class="menu-items">
            <li>
                <a href="#" routerLink="/tramites">
                    <i class="fa fa-tv"></i>
                    <span>Trámites</span>
                </a>
            </li>
            <li>
                <a href="#" routerLink="/tramites/pendientes">
                    <i class="material-icons">list_alt</i>
                    <span>Mis Trámites</span>
                </a>
            </li>
            <li *ngIf="mostrarEntidad">
                <a href="#" [routerLink]="['/tramites/registro-especial']" style="line-height: 23px;">
                    <i class="fas fa-archive"></i>
                    <span>Registro de Objeto de Régimen Especial</span>
                </a>
            </li>
        </ul>
        <div class="menu-header mt-2 mb-1" *ngIf="mostrarPanelAdmin">
            Administrador
        </div>
        <ul class="menu-items" *ngIf="mostrarPanelAdmin">
            <li class="">
                <a href="#" [routerLink]="['/gestor-procesos/procesos']" style="line-height: 23px;">
                    <i class="material-icons">
                        forum
                    </i>
                    <span>Generador de procesos</span>
                </a>
            </li>
        </ul>
        <ul class="menu-items" *ngIf="mostrarPanelAdmin">
            <li class="">
                <a href="#" [routerLink]="['/usuarios']">
                    <i class="fas fa-address-book"></i>
                    <span>Gestor de usuarios</span>
                </a>
            </li>
        </ul>
        <ul class="menu-items" *ngIf="mostrarPanelAdmin">
            <li class="">
                <a href="#" [routerLink]="['/roles']">
                    <i class="fas fa-address-book"></i>
                    <span>Gestor de roles</span>
                </a>
            </li>
        </ul>
        <ul class="menu-items" *ngIf="mostrarPanelAdmin">
            <li class="">
                <a href="#" [routerLink]="['/entidades']">
                    <i class="fas fa-address-book"></i>
                    <span>Gestor de entidades</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>