<div id="footer" class="container-fluid">
  <div class="row pt-2">
    <div class="col-md-12 text-center mb-1">
      Proyecto
    </div>
    <div class="col-md-12 text-center mb-1">
      Modernización de la administración de tierras en Colombia
    </div>
    <div class="col-md-12 text-center mb-3">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><img alt="Licencia Creative Commons"
          style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>
    </div>
  </div>
</div>