<div id="footer" class="container-fluid mt-5">
  <div class="row pt-4">
    <div class="col-md-12 text-center mb-1">
      <small> © 2019 <span class="text-secondary font-weight-bold"> Affero General Public License</span></small>
    </div>
    <div class="col-md-12 text-center mb-1">
      <a class="dark-grey-text" href="https://www.proadmintierra.info/" target="_blank">
        <img class="image-fluid logo" src="./assets/logos/agencia.png" alt="Logo agencia de implementación"></a>
    </div>
    <div class="col-md-12 text-center mb-1">
      <a href="https://github.com/AgenciaImplementacion" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/ideatcolombia" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i class="fab fa-twitter"></i></a>
        <a href="https://www.youtube.com/channel/UCzWCy5tCs77ZNblFxi9b_Og" target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"><i class="fab fa-youtube"></i></a>
    </div>
  </div>
</div>