.carousel-control-prev:hover {
  background: rgba(0, 0, 0, 0.7);
}
.carousel-control-next:hover {
  background: rgba(0, 0, 0, 0.7);
}
.imageCarousel {
  width: 100%;
}
.instituciones {
  width: 30%;
  height: 50%;
}