<div class="card">
    <!--     <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/slideshow/img_mountains_wide.jpg" alt="Los Angeles">
                <div class="carousel-caption">
                    <h3>Mesa de expertos</h3>
                    <p>Febrero 2018</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/slideshow/img_snow_wide.jpg" alt="Chicago">
                <div class="carousel-caption">
                    <h3>Sistema de Administración de Tierras</h3>
                    <p>Colombia</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/assets/slideshow/img_snow_wide.jpg" alt="New York">
                <div class="carousel-caption">
                    <h3>Taller manejo de ventanilla</h3>
                    <p>Colombia</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div> -->
    <ngb-carousel showNavigationArrows="true" pauseOnHover="true" *ngIf="images">
        <ng-template ngbSlide>
            <img class="imageCarousel" [src]="images[0]" alt="Random first slide">
            <div class="carousel-caption">
                <h3>Mesa de expertos</h3>
                <p>Febrero 2018</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class="imageCarousel" [src]="images[1]" alt="Random second slide">
            <div class="carousel-caption">
                <h3>Sistema de Administración de Tierras</h3>
                <p>Colombia</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class="imageCarousel" [src]="images[2]" alt="Random third slide">
            <div class="carousel-caption">
                <h3>Taller manejo de ventanilla</h3>
                <p>Colombia</p>
            </div>
        </ng-template>
    </ngb-carousel>
    <div class="card-header"><b>Sistema de Ventanilla Única</b></div>
    <div class="card-body">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active':tab === 1}" data-toggle="tab" role="tab" (click)="tab=1"
                    aria-controls="home">
                    <i class="fa fa-archive fa-lg"></i> Qué es la Ventanilla única</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active':tab === 3}" data-toggle="tab" role="tab" (click)="tab=3"
                    aria-controls="messages">
                    <i class="fa fa-group fa-lg"></i> Instituciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active':tab === 4}" data-toggle="tab" role="tab" (click)="tab=4"
                    aria-controls="messages" [routerLink]="['/consultas/general']">
                    <i class="fa fa-search fa-lg icon-magnifier"></i> Consulta general</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" [ngClass]="{'active':tab === 1}" role="tabpanel">
                <p>La ventanilla única es un prototipo de punto único de acceso a la información y servicios de
                    Administración
                    de Tierras; pudiendo integrar diferentes actores que intervienen en los servicios que requiere
                    el ciudadano.
                </p>
                <p>Su alcance está conceptualizado en cuatro etapas:</p>
                <ul>
                    <li>Consulta</li>

                    <li>Certificación</li>
                    <li>Radicación y seguimiento de trámites</li>
                    <li>Gestión de mutaciones</li>
                </ul>
            </div>

            <div class="tab-pane" [ngClass]="{'active':tab === 3}" role="tabpanel">
                <ul class="list-group text-center">
                    <li class="list-group-item">
                        <div class="thumbnail">
                            <img class="instituciones" src="/assets/logos/igac.jpg" alt="">
                        </div>
                        <br>
                        <h5>Instituto geográfico Agustin Codazzi</h5>
                    </li>
                    <li class="list-group-item">
                        <div class="thumbnail">
                            <img class="instituciones" src="/assets/logos/agencia.png" alt="">
                        </div>
                        <br>
                        <h5>Agencia de Implementación bsf Swissphoto <br>Incige</h5>
                    </li>
                    <li class="list-group-item">
                        <div class="thumbnail">
                            <img class="instituciones" src="/assets/logos/embajadaSuiza.jpg" alt="">
                        </div>
                        <br>
                        <h5>Embajada de Suiza en Colombia</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>