<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="icon-magnifier"></i> Consulta
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="inputNupre">NUPRE</label>
        <input type="text" class="form-control" id="inputNupre" [(ngModel)]="inputNupre"
          placeholder="AAAA-00000000000-00">
      </div>
      <div class="form-group">
        <label for="inputCadastralCode">Número Predial</label>
        <input type="text" class="form-control" id="inputCadastralCode" [(ngModel)]="inputCadastralCode"
          placeholder="00000000000000000000">
      </div>
      <div class="form-group">
        <label for="inputFMI">Folio de Matricula Inmobiliaria</label>
        <input type="text" class="form-control" id="inputFMI" [(ngModel)]="inputFMI" placeholder="AAAAAAAAA">
      </div>

      <button (click)="search()" class="btn btn-primary" type="submit">Buscar</button>
    </div>
  </div>



  <div id="contentToConvert" *ngIf="showResult">
    <div id="card" class="card" *ngFor="let item of basicConsult">
      <form>
        <div class="card-header">Predio {{item.id}}</div>
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12 col-md-6 col-sm-12">
              <div id="map{{item.id}}" class="map" tabindex="0"></div>
            </div>
            <div class="col-xs-12 col-md-6 col-sm-12">
              <h3>Predio: </h3>
              <div *ngFor="let predio of item.attributes.predio" class="bc-result-parcel">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Tipo:</label>
                  <div class="col-sm-8">
                    <div class="form-control">{{predio.attributes["Tipo"]}}</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Nombre:</label>
                  <div class="col-sm-8">
                    <div class="form-control">{{predio.attributes["Nombre"]}}</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Departamento:</label>
                  <div class="col-sm-8">
                    <div class="form-control">{{predio.attributes["Departamento"]}}</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Municipio:</label>
                  <div class="col-sm-8">
                    <div class="form-control">{{predio.attributes["Municipio"]}}</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Zona:</label>
                  <div class="col-sm-8">
                    <div class="form-control">{{predio.attributes["Zona"]}}</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">NUPRE:</label>
                  <div class="col-sm-8">
                    <div class="form-control">{{predio.attributes["NUPRE"]}}</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">FMI:</label>
                  <div class="col-sm-8">
                    <div class="form-control">{{predio.attributes["FMI"]}}</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Número predial:</label>
                  <div class="col-sm-8">
                    <div class="form-control">{{predio.attributes["Número predial"]}}</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Número predial anterior:</label>
                  <div class="col-sm-8">
                    <div class="form-control">{{predio.attributes["Número predial anterior"]}}</div>
                  </div>
                </div>
              </div>
              <h3>Terreno: </h3>
              <div class="bc-result-parcel">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Área de terreno [m2]:</label>
                  <div class="col-sm-8">
                    <div class="form-control">{{item.attributes["Área de terreno [m2]"]}}</div>
                  </div>
                </div>
              </div>
              <h3>Direcciones: </h3>
              <div *ngFor="let direccion of item.attributes.extdireccion" class="bc-result-parcel">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">País:</label>
                  <div class="col-sm-8">
                    <div class="form-control">{{direccion.attributes["País"]}}</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Departamento:</label>
                  <div class="col-sm-8">
                    <div class="form-control">{{direccion.attributes["Departamento"]}}</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Ciudad:</label>
                  <div class="col-sm-8">
                    <div class="form-control">{{direccion.attributes["Ciudad"]}}</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Código postal:</label>
                  <div class="col-sm-8">
                    <div class="form-control">{{direccion.attributes["Código postal"]}}</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Apartado correo:</label>
                  <div class="col-sm-8">
                    <div class="form-control">{{direccion.attributes["Apartado correo"]}}</div>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Nombre calle:</label>
                  <div class="col-sm-8">
                    <div class="form-control">{{direccion.attributes["Nombre calle"]}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="showResult">
    <button class="btn btn-secondary btn-lg btn-block" (click)="captureScreen()">Descargar Reporte</button>
  </div>
</div>