<div class="container">

    <div class="row mt-5">

        <div class="col col-lg-12">
            <h3 class="text-center">ADOPCIÓN Y PUBLICACIÓN</h3>

            <div class="alert alert-secondary text-center" role="alert">
                Recuerde que los campos marcados con * son obligatorios.
            </div>

        </div>


    </div>

    <div class="row mt-4 mb-5">

        <div class="col col-lg-12">

            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="radio_default" value="option1"
                    (change)="onChangeRadio($event, 'option1')" checked>
                <label class="form-check-label">
                    <span>*</span> <strong>EL CONCEJO ADOPTA EL POT POR ACUERDO?</strong>
                </label>

                <div *ngIf="showRadio1">
                    <div>
                        <label><span>*</span><strong>Fecha Adopción</strong></label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="r_data_radio_option1_date_limit"
                                [(ngModel)]="dateRadioOption1" ngbDatepicker #d="ngbDatepicker" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                    <i class="material-icons">calendar_today</i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label><span>*</span><strong>Subir documento</strong></label>
                        <input type="file" class="form-control-file" (change)="onFileRadioOption($event, 'option1')" />
                    </div>
                </div>

            </div>

            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="radio_default" value="option2"
                    (change)="onChangeRadio($event, 'option2')">
                <label class="form-check-label">
                    <span>*</span> <strong>EL POT ES ADOPTADO POR DECRETO?</strong>
                </label>

                <div *ngIf="showRadio2">
                    <div>
                        <label><span>*</span><strong>Fecha Adopción</strong></label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="r_data_radio_option2_date_limit"
                                [(ngModel)]="dateRadioOption2" ngbDatepicker #e="ngbDatepicker" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="e.toggle()" type="button">
                                    <i class="material-icons">calendar_today</i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label><span>*</span><strong>Subir documento</strong></label>
                        <input type="file" class="form-control-file" (change)="onFileRadioOption($event, 'option2')" />
                    </div>
                </div>

            </div>

            <div class="form-check mb-5">
                <input class="form-check-input" type="radio" name="radio_default" value="option3"
                    (change)="onChangeRadio($event, 'option3')">
                <label class="form-check-label">
                    <span>*</span> <strong>SE RECHAZA EL POT FORMULADO</strong>
                </label>

                <div *ngIf="showRadio3">
                    <div>
                        <label><span>*</span><strong>Fecha Adopción</strong></label>
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="r_data_radio_option3_date_limit"
                                [(ngModel)]="dateRadioOption3" ngbDatepicker #f="ngbDatepicker" />
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="f.toggle()" type="button">
                                    <i class="material-icons">calendar_today</i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label><span>*</span><strong>Subir documento</strong></label>
                        <input type="file" class="form-control-file" (change)="onFileRadioOption($event, 'option3')" />
                    </div>
                </div>

            </div>

            <div *ngIf="showRadio1 || showRadio2">
                <div>
                    <label><span>*</span><strong>PUBLICAR EN SIG-OT</strong></label>
                </div>
                <label><span>*</span><strong>Fecha</strong></label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="r_data_option4" [(ngModel)]="dateOption4"
                        ngbDatepicker #g="ngbDatepicker" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="g.toggle()" type="button">
                            <i class="material-icons">calendar_today</i>
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label><span>*</span><strong>URL Repositorio</strong></label>
                    <input type="text" class="form-control" placeholder="URL" name="r_data_url_option4"
                        [(ngModel)]="urlOption4" />
                </div>

            </div>

            <div *ngIf="showRadio1 || showRadio2">
                <div>
                    <label><span>*</span><strong>SUBIR CARTOGRAFIA A IDE-AT</strong></label>
                </div>
                <label><span>*</span><strong>Fecha</strong></label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="r_data_option5" [(ngModel)]="dateOption5"
                        ngbDatepicker #h="ngbDatepicker" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="h.toggle()" type="button">
                            <i class="material-icons">calendar_today</i>
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label><span>*</span><strong>URL Repositorio</strong></label>
                    <input type="text" class="form-control" placeholder="URL" name="r_data_url_option5"
                        [(ngModel)]="urlOption5" />
                </div>
            </div>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" name="r_data_check_notification"
                    [(ngModel)]="checkNotification" />
                <label class="form-check-label">
                    <strong>NOTIFICAR VIA EMAIL A LOS INTERESADOS</strong>
                </label>
                <div>
                    <label><span>*</span><strong>Fecha</strong></label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="r_data_option6"
                            [(ngModel)]="dateOption6" ngbDatepicker #i="ngbDatepicker" />
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="i.toggle()" type="button">
                                <i class="material-icons">calendar_today</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center mt-5">
                <button type="button" class="btn btn-info btn-md btn-block" (click)="finish()">
                    Finalizar
                </button>
            </div>

        </div>


    </div>

</div>