<div class="card">
        <div class="card-header">
            <div class="row">
                <i class="material-icons cursor m-2" (click)="volver()">backspace</i>
                <div class="col-11">
                    <h4 class="text-center">Actualizando Rol {{nomBeforeRol}}</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form action="" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Nombre del rol: </span>
                        </div>
                        <input class="form-control" id="nomRol" type="text" name="nomRol"
                            [(ngModel)]="nomRol">
                    </div>
                </div>
                <!-- <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descripción del proceso: </span>
                        </div>
                        <textarea class="form-control" id="desRol" rows="2" name="desRol"
                            [(ngModel)]="desRol"></textarea>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col mt-2">
            <button type="button" class="btn btn-secondary btn-block" (click)="UpdateRol()">Actualizar rol</button>
        </div>
    </div>