<div class="card">
    <div class="card-header">
        Lista de usuarios registrados
    </div>
    <div class="card-body">
        <!-- *ngFor="let item of listUsers | paginate: { itemsPerPage: limit, currentPage: page }" -->
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Usuario</th>
                        <th>Estado</th>
                        <th>Actualizar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let item of asyncListUser | async | paginate: { id: 'server', itemsPerPage: limit, currentPage: page, totalItems: totalUsers }">
                        <td>{{item.firstName}}</td>
                        <td>{{item.lastName}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.username}}</td>
                        <td>
                            <span tooltip="Cambiar estado" placement="bottom" show-delay="500">
                                <div class="custom-control custom-switch">
                                    <input (click)="changeStete(item._id, item.enabled)" [(ngModel)]="item.enabled" type="checkbox" class="custom-control-input"
                                        id="customSwitch-{{item.username}}">
                                    <label class="custom-control-label" for="customSwitch-{{item.username}}">
                                        <!--{{item.process.active?'Activo':'Desactivado'}} item.process.active=!item.process.active;-->
                                    </label>
                                </div>
                            </span>
                        </td>
                        <td>
                            <span tooltip="Actualizar datos" placement="bottom" show-delay="500">
                                <i class="material-icons cursor" (click)="updateUser(item)">
                                    update
                                </i>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="has-text-centered">
            <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
            <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
        </div>

    </div>
    <div class="card-footer text-muted">
        <button type="button" class="btn btn-secondary btn-block" (click)="createUser()">Registrar usuario</button>
    </div>
</div>