<div class="container">
  <div class="card">
    <div class="card-header">
      <i class="cui-arrow-bottom"></i> Seleccione el modelo y el objeto a registrar
    </div>
    <div class="card-body row">

      <form class="form-group col-12">
        <div class="form-group col-12">
          <div class="col-auto my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Modelos</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Seleccionar</option>
              <option value="1">Modelo 1</option>
              <option value="2">Modelo 2</option>
              <option value="3">Modelo 3</option>
            </select>
          </div>
          <div class="col-auto my-1">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Objetos</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Seleccionar</option>
              <option value="1">Objeto 1</option>
              <option value="2">Objeto 2</option>
              <option value="3">Objeto 3</option>
            </select>
          </div>
        </div>
        <div class="text-center col-12">
          <button type="button" class="btn btn-primary" (click)="openModal('custom-modal-2')">Añadir
            Restricción</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <jw-modal id="custom-modal-2">
      <div class="card">
        <!--style="height:500px"  Se puede especificar el height de la ventana modal, o el cojera por defecto el contenido de los elementos-->
        <div class="card-header">
          <i class="cui-arrow-bottom"></i> Registro de Objeto de Régimen Especial
        </div>
        <div class="card-body row">
          <form action="" class="needs-validation form-group col-12" novalidate>
            <div class="form-group row">
              <div class="form-group col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck1">
                  <label class="form-check-label" for="gridCheck1">
                    Restricción 1
                  </label>
                </div>
              </div>
              <div class="form-group col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck2">
                  <label class="form-check-label" for="gridCheck2">
                    Restricción 2
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center col-12">
              <button type="button" class="btn btn-dark" (click)="closeModal('custom-modal-2');">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </jw-modal>
  </div>
</div>