@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

.modificar {
  cursor: pointer;
}

.form-check-label {
  margin-left: 0.5em;
}

.fixed_button {
  position: fixed;
}
.pointer {
  cursor: pointer;
}

.objectosRegistrados {
  border: 1px solid;
  border-color: rgb(166, 167, 170);
  border-radius: 20px;
  margin-bottom: 1%;
  padding-top: 1%;
}
.card {
  min-height: 10px;
  overflow-y: scroll;
}
